In [6]:
import numpy as np
import pandas as pd
from datetime import date

In [29]:
df=pd.read_csv('pick_up.csv', delimiter = ',')
df.head()

     ID  Driver       Date pick-up      Date drop-off
0  1235       3  23-02-2024  08:00  23-02-2024  08:20
1  2356       2  23-02-2024  08:11  23-02-2024  08:48
2  4568       4                NaN  23-02-2024  08:45

In [30]:
df=df[0:2]
df.head()

     ID  Driver       Date pick-up      Date drop-off
0  1235       3  23-02-2024  08:00  23-02-2024  08:20
1  2356       2  23-02-2024  08:11  23-02-2024  08:48

In [31]:
df['Date pick-up']=pd.to_datetime(df['Date pick-up'],format='%d-%m-%Y %H:%M')

In [33]:
df['Date drop-off']=pd.to_datetime(df['Date drop-off'],format='%d-%m-%Y %H:%M')

In [36]:
df['Diff']=df['Date drop-off']-df['Date pick-up']

In [37]:

df.head()

     ID  Driver        Date pick-up       Date drop-off            Diff
0  1235       3 2024-02-23 08:00:00 2024-02-23 08:20:00 0 days 00:20:00
1  2356       2 2024-02-23 08:11:00 2024-02-23 08:48:00 0 days 00:37:00

In [45]:
df.sort_values(by=['Diff'],ascending=False)

     ID  Driver        Date pick-up       Date drop-off            Diff
1  2356       2 2024-02-23 08:11:00 2024-02-23 08:48:00 0 days 00:37:00
0  1235       3 2024-02-23 08:00:00 2024-02-23 08:20:00 0 days 00:20:00