In [35]:
import pandas as pd
import numpy as np

In [36]:
df = pd.read_csv("data.csv")

In [37]:
df.head()

                                            Sentence Sentiment
0  The GeoSolutions technology will leverage Bene...  positive
1  $ESI on lows, down $1.50 to $2.50 BK a real po...  negative
2  For the last quarter of 2010 , Componenta 's n...  positive
3  According to the Finnish-Russian Chamber of Co...   neutral
4  The Swedish buyout firm has sold its remaining...   neutral

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5842 entries, 0 to 5841
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sentence   5842 non-null   object
 1   Sentiment  5842 non-null   object
dtypes: object(2)
memory usage: 91.4+ KB

In [40]:
df.describe()

                                                 Sentence Sentiment
count                                                5842      5842
unique                                               5322         3
top     Managing Director 's comments : `` Net sales f...   neutral
freq                                                    2      3130

In [41]:
import string
from nltk.corpus import stopwords

In [42]:
def text_cleaning(text):
    stop_words = [stopwords.words("english")]
    no_punct =[word for word in text if word not in string.punctuation]
    no_punct_str = " ".join(no_punct)
    return " ".join([word for word in no_punct_str if word.lower() not in stop_words])

In [43]:
df["Clean"] = df["Sentence"].apply(text_cleaning)

In [44]:
df.head()

,Sentence,Sentiment,Clean
0,The GeoSolutions technology will leverage Bene...,positive,T h e G e o S o l u t ...
1,"$ESI on lows, down $1.50 to $2.50 BK a real po...",negative,E S I o n l o w s ...
2,"For the last quarter of 2010 , Componenta 's n...",positive,F o r t h e l a s t ...
3,According to the Finnish-Russian Chamber of Co...,neutral,A c c o r d i n g t o ...
4,The Swedish buyout firm has sold its remaining...,neutral,T h e S w e d i s h ...

In [45]:
df["sentiments"] = np.where(df["Sentiment"] == "positive",1,np.where(df["Sentiment"] == "negative", -1,0))

In [46]:
df = df.drop(["Sentence", "Sentiment"], axis=1)

In [47]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import CountVectorizer

In [48]:
X = df["Clean"]
y = df["sentiments"]

In [52]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1)

In [53]:
print(X_train.shape,y_train.shape)
print(X_test.shape, y_test.shape)

(4381,) (4381,)
(1461,) (1461,)